body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0d0d0d;
    color: white;
}

/* Top bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111;
    border-bottom: 1px solid #222;
}

.topbar button {
    background: #7B61FF;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Main container */
.container {
    padding: 30px;
}

/* Add task */
.add-task {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add-task input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.add-task button {
    padding: 12px 20px;
    background: #7B61FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

/* Task */
.task {
    background: #111;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task button {
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}