body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
}


#bg-video {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.65);
    z-index: -1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-box {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    padding: 35px;
    border-radius: 12px;
    width: 320px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #aaa;
    margin-bottom: 20px;
}


input {
  width: 93%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    outline: none;
}

input:focus {
    outline: 2px solid #7B61FF;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #7B61FF;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
}

button:hover {
    opacity: 0.85;
}

button:active {
    transform: scale(0.97);
}

.extra {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.extra a {
    color: #7B61FF;
    text-decoration: none;
}